<div class="container">
    <h1>sender#show</h1>
        <section style="background-color: #eee;">

        <div class="row">
        <div class="col-lg-4">
            <%= render "users/profile_section1" %>
            <%= render "users/profile_section2" %>            
        </div>
        <div class="col-lg-8">
            <%= render "users/profile_section3" %>            
            <div class="row">
                <%= render "users/profile_section4" %>            
            </div>
        </div>
        </div>
    </div>
    </section>
    
</div>