<div class="container">
    <h1>traveller#orders</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do | order | %>
                <tr>
                    <th scope="row">1</th>
                    <td><%=current_user_credential.user.firstname%></td>
                    <td><%=order.receiver_name%></td>
                    <td>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>