<div class="container">

    <section style="background-color: #eee;">
        <div class="row">
        <div class="col-lg-4">
            <%= render "profile_section1" %>
        </div>
        <div class="col-lg-8">
            <%= render "profile_section2" %>
        </div>
        </div>
    </div>
    </section>
</div>